body {
  display: inline-block;
  margin: 50px;
  padding: 50px;
  border: 10px solid blue;
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-shadow: 10px 10px 10px -3px rgb(0, 0, 0);
}
i {
  color: red;
  font-weight: bold;
}
.parole i {
  display: inline;
  animation: appare 10s infinite;
}
.parole {
  display: inline-flex;
  flex-direction: column;
  padding: 5px;
  border: 10px solid blue;
  box-shadow: 10px 10px 10px -3px rgb(0, 0, 0);
  height: 30px;
  overflow: hidden;
}

@keyframes appare {
  0% {
    transform: translatey(0);
  }
  25% {
    transform: translatey(-35px);
  }
  50% {
    transform: translatey(-73px);
  }
  75% {
    transform: translatey(-35px);
  }
  100% {
    transform: translatey(0px);
  }
}

/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
